doctype html
html(lang="en")
  head
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-70432331-4", async)
    script.
      function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-70432331-4");
    title LA Roberto | Developer
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width")
    meta(name="description" content="Personal Website")
    meta(name="author" content="LA")
    link(rel="preconnect", href="https://fonts.googleapis.com/", crossorigin)
    style.
      a.linkies:link,a.linkies:visited,a.linkies:hover,a.linkies:active,a.linkies:focus{color:#4881C3;cursor:pointer;text-decoration:none}*{margin:0;padding:0}body{background-color:#2D2D2D;color:#D3D0C8}pre{font-family:'Source Code Pro',monospace;width:45ch;margin:4em auto;padding:.5em;line-height:0;counter-reset:line}pre span{display:block;line-height:1.4rem}pre span:before{counter-increment:line;content:counter(line);display:inline-block;border-right:1px solid #ddd;width:3ch;padding:0 .5em;margin-right:.5em;color:#807F7B;text-align:right}pre a{cursor:text}#blinker{animation-name:blinker;animation-iteration-count:infinite;animation-timing-function:cubic-bezier(1,0,0,1);animation-duration:1s;background-color:#D3D0C8}@keyframes blinker{from{opacity:1}to{opacity:0}}
  body
    pre#info
      span Hey! I'm #[a(style="color:#F2777A") LA] and I write #[a(style="color:#F2777A") code].
      span
      span I'm (almost) a
      span #[a(style="color:#66CCCC") Full Stack Developer]
      span (CSS is magic to me).
      span
      span I speak #[a(style="color:#3777AC") Python], #[a(style="color:#777BB4") PHP]
      span and #[a(style="color:#F7DF1E") Javascript] mostly
      span but I'm always hungry for
      span new things.
      span
      span A big fan of:
      span   0) #[a(style="color:#5AF78E") Continuous Integration]
      span   1) #[a(style="color:#5AF78E") Automating] things
      span   2) Writing #[a(style="color:#5AF78E") tests]
      span   3) Pushing #[a(style="color:#5AF78E") performant] code
      span
      span I currently do stuff at
      span #[a(style="color:#27B3FE") Freelancer.com]
      span
      span You can reach me at:
      span #[a(style="color:#F2777A") me(at)laroberto(dot)com]
        a#blinker .
    script.
      WebFontConfig={classes:!1,google:{families:["Source Code Pro"]}},function(e){var o=e.createElement("script"),s=e.scripts[0];o.src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js",o.async=!0,s.parentNode.insertBefore(o,s)}(document);
